<div id="img">
  <div class="container">
    <div class="day">
      <div class='date'>
        <h6>{{weatherservice.date1}}<img class='calendar' src='../../assets/Pics/calendar-512.png'></h6>
      </div>
      <div class="temps">
        <h6 class="max">{{weatherservice.description1}}</h6>
        <h6 class="max">{{weatherservice.Day1maxTemp}}<img class="dayTemp" src='../../assets/Pics/dayTemp.png'></h6>
        <h6 class="min">{{weatherservice.Day1minTemp}}<img class="dayTemp" src='../../assets/Pics/nightTemp.png'></h6>
      </div>
    </div>
    <div class="day">
      <div class='date'>
        <h6>{{weatherservice.date2}}<img class='calendar' src='../../assets/Pics/calendar-512.png'></h6>
      </div>
      <div class="temps">
        <h6 class="max">{{weatherservice.description2}}</h6>
        <h6 class="max">{{weatherservice.Day2maxTemp}}<img class="dayTemp" src='../../assets/Pics/dayTemp.png'></h6>
        <h6 class="min">{{weatherservice.Day2minTemp}}<img class="dayTemp" src='../../assets/Pics/nightTemp.png'></h6>
      </div>
    </div>
    <div class="day">
      <div class='date'>
        <h6>{{weatherservice.date3}}<img class='calendar' src='../../assets/Pics/calendar-512.png'></h6>
      </div>
      <div class="temps">
        <h6 class="max">{{weatherservice.description3}}</h6>
        <h6 class="max">{{weatherservice.Day3maxTemp}}<img class="dayTemp" src='../../assets/Pics/dayTemp.png'></h6>
        <h6 class="min">{{weatherservice.Day3minTemp}}<img class="dayTemp" src='../../assets/Pics/nightTemp.png'></h6>
      </div>
    </div>
    <div class="day">
      <div class='date'>
        <h6>{{weatherservice.date4}}<img class='calendar' src='../../assets/Pics/calendar-512.png'></h6>
      </div>
      <div class="temps">
        <h6 class="max">{{weatherservice.description4}}</h6>
        <h6 class="max">{{weatherservice.Day4maxTemp}}<img class="dayTemp" src='../../assets/Pics/dayTemp.png'></h6>
        <h6 class="min">{{weatherservice.Day4minTemp}}<img class="dayTemp" src='../../assets/Pics/nightTemp.png'></h6>
      </div>
    </div>
    <div class="day">
      <div class='date'>
        <h6>{{weatherservice.date5}}<img class='calendar' src='../../assets/Pics/calendar-512.png'></h6>
      </div>
      <div class="temps">
        <h6 class="max">{{weatherservice.description5}}</h6>
        <h6 class="max">{{weatherservice.Day5maxTemp}}<img class="dayTemp" src='../../assets/Pics/dayTemp.png'></h6>
        <h6 class="min">{{weatherservice.Day5minTemp}}<img class="dayTemp" src='../../assets/Pics/nightTemp.png'></h6>
      </div>
    </div>
  </div>
</div>